:root {
   --open-sans: "Open Sans", sans-serif;
   --nunito--sans: "Nunito Sans", sans-serif; 

   --accent-light: #FBB731;
   --accent-dark: #F37335;
   --dark: #443737;
   --light: #fff;
   --light-rgb: 255, 255, 255;
   --tr: 0.2s;

}

body{
   font-family: var(--open-sans);
   
}
a {
   text-decoration: none;
}
.container {
   width: 100%;
   max-width: 1180px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
   box-sizing: border-box;
}

/* --header-- */

.header {
   border-bottom: 1px solid #DEDEDE;
}

.header-wrapper {
   display: flex;
   align-items: center;
   gap: 56px;
   padding: 26px 0;
}
.burger-menu {
   display: none;
   width: 34px;
   height: 22px;
   background-image: url(../img/burgermenu.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-color: transparent;
   border: none;
}
.logo {
   display: block;
   width: 175px;
   height: 56px;
   background-image: url(../img/logo.svg);
   background-repeat: no-repeat;
   background-size: contain;
}
.nav {
   flex-grow: 1;
   display: flex;
   gap: 47px;
   margin-left: min(10vw, 140px);
}
.nav-link {
   color: var(--dark);
   font-weight: 600;
   font-size: 20px;
}
.nav-link::after {
   content: "";
   display: block;
   width: 100%;
   height: 3px;
   background-color: transparent;
   border-radius: 1.5px;
}
.nav-link:hover::after {
   background-color: var(--accent-light);
}
.cart {
   display: flex;
   align-items: center;
   gap: 10px;
   color: var(--dark);
   font-weight: 700;
   font-size: 15px;
   position: relative;
}

.cart::before {
   content: "";
   display: block;
   width: 30px;
   height: 26px;
   background-image: url(../img/cart.svg);
   background-repeat: no-repeat;
   background-size: contain;
}
.cart-count {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 17px;
   height: 16px;
   font-size: 10px;
   background-color: var(--accent-dark);
   color: var(--light);
   border-radius: 100%;
   position: absolute;
   left: 17px;
   bottom: 0;
   }
.button-up {
   position: fixed;
   right: 10px;
   bottom: 10px;
   font-size: 14px;
   font-weight: 700;
   font-family: var(--nunito--sans);
   padding: 5px 10px;
   text-align: center;
   text-decoration: none;
   border: none;
   color: var(--dark);
   background-color: var(--accent-light);
   text-transform: uppercase;
   margin-bottom: 50px;
   border-radius: 5px;
   transition: var(--tr);
}
.button-up:hover {
   background-color: var(--accent-dark);
   
}
.button-up.hidden {
   opacity: 0;
}
.button-up.visible {
   opacity: 1;
}
   /* ---hero---- */
.hero {
   background-image: url(../img/hero.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   text-align: center;
   padding: 142px 0px;
   }
.hero-contact {
   background-image: url(../img/hero-contact.jpg);
}

.breadcrumbs {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
   list-style-type: none;
   padding-left: 0;
   color: rgba(var(--light-rgb), .5);
   font-size: 15px;
   margin-top: 0;
   margin-bottom: 0;
   }
.breadcrumbs-link {
   color: rgba(var(--light-rgb), .5);
   }
.breadcrumbs-link:hover {
   color: var(--accent-light);
   }
.breadcrumbs-item {
   position: relative;
   }
.breadcrumbs-item:not(:last-child)::after {
   content: "/";
   position: absolute;
   right: -12px;
      
   }
.hero-title {
   font-family: var(--nunito--sans);
   font-weight: 700;
   font-size: 79px;
   color: var(--light);
   margin-top: 20px;
   margin-bottom: 18px;
      }
.hero-description {
   max-width: 320px;
   margin: 0 auto;
   font-weight: 400;
   font-size: 15px;
   line-height: 160%;
   color: rgba(var(--light-rgb), 0.8);

   }
   /* banner */


.banner {
   margin-top: 140px;
   }

.banner-wrapper {
   padding: 100px;
   background-image: url(../img/banner.png);
   background-repeat: no-repeat;
   background-size: cover;
}
.banner-title span {
   display: block;
   text-align: center;
   max-width: 95px;
   color: var(--light);
   font-family: var(--open-sans);
   font-size: 14px;
   font-weight: 600;
   line-height: 128%;
   text-transform: uppercase;
   text-align: center;
   background-color: var(--accent-dark);
   border-radius: 14px;
   padding: 5px 0;
   margin-bottom: 4px;
   

   
}
.banner-title  {
   font-family: var(--nunito--sans);
   font-weight: 900;
   color: var(--light);
   font-size: 60px;
   line-height: 127%;
   text-transform: uppercase;
   margin-top: 0;
   margin-bottom: 11px;
   
   
}
.banner-deckription {
   max-width: 320px;
   margin-top: 0;
   margin-bottom: 11px;
   color: rgba(var(--light-rgb), 0.8);
   font-size: 15px;
   font-style: normal;
   font-weight: 400px;
   line-height: 160%;

}
.banner-btn {
   display: block;
   max-width: 170px;
   font-size: 14px;
   font-weight: 700;
   font-family: var(--nunito--sans);
   padding: 22px 0;
   text-align: center;
   text-decoration: none;
   border: none;
   color: var(--dark);
   background-color: var(--accent-light);
   text-transform: uppercase;
   margin-bottom: 50px;
   border-radius: 5px;
   transition: var(--tr);
   cursor: pointer; 
}
.banner-btn:hover {
   background-color: var(--accent-dark);
   
}


/* ----menu------ */


.menu {
}
.menu-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 100px;
   margin-bottom: 34px;
}
.menu-title {   
   font-family: var(--nunito--sans);
   font-weight: 700;
   font-size: 44px;
   line-height: 127%;
   text-transform: uppercase;
   color: var(--dark);
   margin-top: 0;
   margin-bottom: 0;
}
.menu-select {
   font-weight: 400;
   font-size: 15px;
   line-height: 160%;
   color: var(--dark);
   appearance: none; /* сбрасывает некоторые стили */
   flex-basis: 279px;
   background-image: url(../img/menu/chevron.svg);
   background-size: 14px 10px;
   background-repeat: no-repeat;
   background-position: 89% center;/* по оси х горизонтальн. */
   border: 1px colid #DEDEDE;
   padding: 13px 30px;
   border-radius: 22px;
}
.menu-box {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: auto; /* единая высота строк */
   gap: 50px 20px;
   }
   .menu-item {
      font-family: var(--nunito--sans);
      text-align: center;
   }
.menu-thumb {
   width: 100%;
   height: 430px;
   position: relative;
   overflow: hidden;
   margin-bottom: 20px;
}
.menu-thumb img {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   object-fit: cover;

}
.menu-name {
   font-weight: 600;
   font-size: 30px;
   line-height: 127%;
   color: var(--dark);
   margin-top: 0;
   margin-bottom: 10px;
   
}
.menu-prise {
   
   font-weight: 700;
   font-size: 20px;
   color: rgba(68, 55, 55, 0.5);
   margin-top: 0;
   margin-bottom: 20px;
}
.menu-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   margin: 0 auto;
   font-size: 14px;
   font-family: var(--nunito--sans);
   font-weight: 700;
   padding: 11px 32px;
   text-transform: uppercase;
   text-decoration: none;
   border: none;
   color: var(--dark);
   background-color: var(--accent-light);
   text-transform: uppercase;   
   border-radius: 5px;
   transition: var(--tr);
   cursor: pointer;
   

}
.menu-btn:hover {
   background-color: var(--accent-dark);
}
.menu-btn::before {
   content: "";
   display: block;
   width: 18px;
   height: 13px;
   background-image: url(../img/menu/Shape.svg);
   background-repeat: no-repeat;
   background-size: contain;
}
/* ----footer---- */
.footer {
   background-color: #1E2F40;
   margin-top: 140px;
   padding-top: 110px;
   padding-bottom: 120px;

}
.footer-wrapper {
   display: flex;
   justify-content: space-between;
   gap: 15px;
      
}
.footer-logo {
   display: block;
   width: 63px;
   height: 56px;
   background-image: url(../img/Logo_light.svg);
   background-repeat: no-repeat;
   background-size: contain;
}
.footer-item {
   color: var(--light);
   

}
.footer-nav {
   display: flex;
   flex-direction: column;
   gap: 9px;
   align-items: start;
}


.footer-link {
   color: rgba(var(--light-rgb), .9);
   font-weight: 400;
   font-size: 15px;
   line-height: 160%;
   
}
.footer-link::after {
   content: "";
   display: block;
   width: 100%;
   height: 3px;
   background-color: transparent;
   border-radius: 1.5px;
   
}
.footer-link:hover::after {
   background-color: var(--accent-light);
}

.footer-title {
   font-family: var(--nunito--sans);
   font-weight: 800;
   font-size: 20px;
   line-height: 190%;
   text-transform: uppercase;
   color: var(--light);
   margin-top: 0;
   margin-bottom: 13px;
}
.footer-list {
   list-style: none;
   padding-left: 0;      
   margin: 0;
   
}
.footer-list li:not(:last-child) {
   margin-bottom: 14px;
}

.footer-list span {
   display: block;
   font-weight: 400;
   font-size: 15px;
   color: rgba(var(--light-rgb), .9);
}
.footer-item:last-child {
   flex-basis: 194px;
}
.footer-tel {
   display: block;
   font-family: var(--nunito--sans);
   font-weight: 800;
   font-size: 20px;
   text-align: right;
   text-transform: uppercase;
   color: #fbb731;
   margin-top: 12px;
   transition: var(--tr);

}
.footer-tel._mobile {
   display: none;
   font-family: var(--nunito--sans);
   font-weight: 800;
   font-size: 20px;
   text-transform: uppercase;
   color: #fbb731;
   margin-top: 12px;
   transition: var(--tr);

}
.footer-tel:hover {
   color: #fff;
}

/* ----contact---- */



.contact-main {
   display: flex;
   align-items: center;
   gap: 20px;
   max-width: 1057px;
   margin: 140px auto 60px;
}

.contact-map {
   flex-basis: 680px;
}

.contact-adress {
   flex-basis: calc(100% - 680px - 20px);
   list-style-type: none;
   padding-left: 0;
}

.contact-adress > li:not(:last-child) {
   margin-bottom: 26px;
}

.contact-adress > li > span {
   display: block;
   font-size: 15px;
   line-height: 160%;
}

.contact-adress > li > span:first-child {
   font-family: var(--nunito-sans);
   font-size: 20px;
   font-weight: 700;
   line-height: 190%;
   text-transform: uppercase;
   margin-left: 3px;
   margin-bottom: 4px;
}

.contact-adress > li > span:last-child {
   font-weight: 700;
   margin-top: 10px;
}

.contact-additionally {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   max-width: 1057px;
   list-style-type: none;
   padding-left: 0;
   margin: 0 auto;
}

.contact-additionally > li {
   font-size: 15px;
   display: flex;
   align-items: center;
   gap: 15px;
}

.contact-additionally > li::before {
   content: '';
   display: block;
   width: 80px;
   height: 80px;
   background-repeat: no-repeat;
   background-size: cover;
}

.contact-additionally > li:nth-child(1):before {
   background-image: url(../img/01.svg);
}
.contact-additionally > li:nth-child(2):before {
   background-image: url(../img/02.svg);
}
.contact-additionally > li:nth-child(3):before {
   background-image: url(../img/03.svg);
}

.contact-info,
.contact-tel {
   display: block;
   color: var(--dark);
   font-family: var(--nunito-sans);
   font-size: 20px;
   font-weight: 700;
   line-height: 140%;
   margin-top: 5px;
}

.contact-tel {
   transition: var(--tr);
}

.contact-tel:hover {
   color: var(--accent-light);
}


/* -----media----- */
@media (max-width: 1080px) {
   .header {
      gap: 40px;
      }
   .nav {
      margin-left: 0;
      gap: min(3vw, 30px);
   }
   
}
@media (max-width: 768px) {
   .logo {
      width: 150px;
      height: 47.81px;
   }
   .header-wrapper {
      gap: 45px;
   }
   .nav {
      gap: 22px;
   }
   .banner {
      margin-top: 72px;
      }
   .banner-wrapper {
      padding: 100px 40px;
      }
   .menu-header {
      margin-top: 80px;
   }
   .menu-box {
      grid-template-columns: repeat(2, 1fr);
      }
   .menu-box._additonally {
      grid-template-columns: 1fr;
   }
   .menu-item._additonally {
      display: flex;
      align-items: center;
      gap: 20px;
      
   }
   .menu-item._additonally .menu-thumb {
      flex-basis: calc(60% - 20px);
      height: 260px;
      margin-bottom: 0;
}
   .menu-item._additonally .menu-info {
      flex-basis: 40%;
}
.footer {   
   padding-top: 62px;
   padding-bottom: 71px;
}
   .footer-nav {
      margin-bottom: 20px;
}
   .footer-item:last-child {
      display: none;
}
   .footer-tel._mobile {
      display: block;
      text-align: left;
}
}
@media (max-width: 730px) {
   .header-wrapper {
      gap: 21px;
      padding: 19px 0;
   }
   .logo {
      flex-grow: 1;
      width: 116px;
      height: 37px;
   }
   .nav {
      display: none;
   }
   .nav._modal {
      display: flex;
      flex-direction: column;
   }
   .nav-link::after {
      display: none;
   }
   .burger-menu {
      display: block;
   }
   .modal {
      width: 100%;
      max-width: 500px;
      background-color: #FFF8DC;
      padding: 40px 15px;
      position: absolute;
      top: -400px;
      left: 0;
      right: 0;
      margin: 0 auto;
      box-sizing: border-box;
      text-align: center;
      transition: var(--tr);
   }
   .modal-close {
      display: block;
      width: 22px;
      height: 22px;
      background-image: url(../img/close\ 1.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-color: transparent;
      border: none;
      position: absolute;
      top: 20px;
      right: 20px;
   }
   .hero {
      padding: 55px 0;
   }
   .breadcrumbs {
      font-size: 14px;
   }
   .hero-title {
      font-size: 38px;
      margin-top: 28px;
      margin-bottom: 13px;
      }
   .hero-description {
      font-size: 12px;
      line-height: 166%;
   }
   .banner {
      margin-top: 33px;
   }
   .banner-wrapper {
      padding: 35px 17px;
   }
   .banner-title {
      margin-bottom: 9px;
   }
   .banner-deckription {
      font-size: 14px;
      max-width: 222px;
      margin-bottom: 20px;
   }
   .banner-btn {
   max-width: 198px;
   }
   .menu-header {
      margin-top: 58px;
      margin-bottom: 30px;
   }
   .menu-title {
      font-size: 27px;
   }
   .menu-select {
      font-size: 12px;
      flex-basis: 136px;
      background-position: 93% center;
      width: 136px;
      padding: 13px 15px;
   }
   .menu-box {
      gap: 24px 20px;
   }
   .menu-name {
      font-size: 13px;
      margin-bottom: 8px;
   }
   .menu-thumb {
      margin-bottom: 10px;
      height: 50vw;
   }
      .menu-item._additonally .menu-thumb {
         height: 30vw;
   }
   .menu-prise {
      font-size: 12px;
      margin-bottom: 14px;
   }
   .menu-btn {
      padding: 11px 22px;
   }
   .footer {
      padding-bottom: 86px;
   }
   .footer-wrapper {
      flex-direction: column;
      gap: 35px;
      position: relative;
   }
   .footer-logo {
      margin-bottom: 9px;
   }
   .footer-tel._mobile {
      position: absolute;
      top: -13px;
      right: 0;
}
.footer-tel._mobile + .footer-tel._mobile {
   top: 24px;
}
.footer-title  {
   font-size: 18px;
}
.footer-nav {
   margin-bottom: 0;

}
}
   @media (max-width: 450px) {
      .menu-item._additonally .menu-thumb {
         height: 38vw;
         flex-basis: calc(100% - 130px - 20px);
      }
      .menu-item._additonally .menu-info {
         flex-basis: 130px;
      }
}