:root {
   --open-sans: "Open Sans", sans-serif;
   --nunito--sans: "Nunito Sans", sans-serif; 

   --accent-light: #FBB731;
   --accent-dark: #F37335;
   --dark: #443737;
   --light: #fff;
   --light-rgb: 255, 255, 255;

}

body{
   font-family: var(--open-sans);
   
}
a {
   text-decoration: none;
}
.container {
   width: 100%;
   max-width: 1180px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

/* --header-- */

.header {
   border-bottom: 1px solid #DEDEDE;
}

.header-wrapper {
   display: flex;
   align-items: center;
   gap: 196px;
   padding: 26px 0;
}
.logo {
   display: block;
   width: 175px;
   height: 56px;
   background-image: url(../img/logo.svg);
   background-repeat: no-repeat;
   background-size: contain;
}
.nav {
   flex-grow: 1;
   display: flex;
   gap: 47px;
}
.nav-link {
   color: var(--dark);
   font-weight: 600;
   font-size: 20px;
}
.nav-link::after {
   content: "";
   display: block;
   width: 100%;
   height: 3px;
   background-color: transparent;
   border-radius: 1.5px;
}
.nav-link:hover::after {
   background-color: var(--accent-light);
}
.cart {
   display: flex;
   align-items: center;
   gap: 10px;
   color: var(--dark);
   font-weight: 700;
   font-size: 15px;
   position: relative;
}
.cart::before {
   content: "";
   display: block;
   width: 30px;
   height: 26px;
   background-image: url(../img/cart.svg);
   background-repeat: no-repeat;
   background-size: contain;
}
.cart-count {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 17px;
   height: 16px;
   font-size: 10px;
   background-color: var(--accent-dark);
   color: var(--light);
   border-radius: 100%;
   position: absolute;
   left: 17px;
   bottom: 0;
   }

   /* ---hero---- */
.hero {
   background-image: url(../img/hero.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   text-align: center;
   padding: 142px 0px;
   }

.breadcrumbs {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 16px;
   list-style-type: none;
   padding-left: 0;
   color: rgba(var(--light-rgb), .5);
   font-size: 15px;
   margin-top: 0;
   margin-bottom: 0;
   }
.breadcrumbs-link {
   color: rgba(var(--light-rgb), .5);
   }
.breadcrumbs-link:hover {
   color: var(--accent-light);
   }
.breadcrumbs-item {
   position: relative;
   }
.breadcrumbs-item:not(:last-child)::after {
   content: "/";
   position: absolute;
   right: -12px;
      
   }
.hero-title {
   font-family: var(--nunito--sans);
   font-weight: 700;
   font-size: 79px;
   color: var(--light);
   margin-top: 20px;
   margin-bottom: 18px;
      }
.hero-description {
   max-width: 320px;
   margin: 0 auto;
   font-weight: 400;
   font-size: 15px;
   line-height: 160%;
   color: rgba(var(--light-rgb), 0.8);

   }
   /* banner */


.banner {
   margin-top: 140px;
   
   
}

.banner-wrapper {
   padding: 100px;
   background-image: url(../img/banner.png);
   background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 140px;
   

   
   
}
.banner-title span {
   display: block;
   text-align: center;
   max-width: 95px;
   color: var(--light);
   font-family: var(--open-sans);
   font-size: 14px;
   font-weight: 600;
   line-height: 128%;
   text-transform: uppercase;
   text-align: center;
   background-color: var(--accent-dark);
   border-radius: 14px;
   padding: 5px 0;
   margin-bottom: 4px;
   

   
}
.banner-title  {
   font-family: var(--nunito--sans);
   font-weight: 900;
   color: var(--light);
   font-size: 60px;
   line-height: 127%;
   text-transform: uppercase;
   margin-top: 0;
   margin-bottom: 11px;
   
   
}
.banner-deckription {
   max-width: 320px;
   margin-top: 0;
   margin-bottom: 11px;
   color: rgba(var(--light-rgb), 0.8);
   font-size: 15px;
   font-style: normal;
   font-weight: 400px;
   line-height: 160%;

}
.banner-btn {
   font-size: 14px;
   font-weight: 700px;
   font-family: var(--nunito--sans);
   padding: 22px 25px;
   text-decoration: none;
   border: none;
   color: var(--dark);
   background-color: var(--accent-light);
   text-transform: uppercase;
   margin-bottom: 50px;
   border-radius: 5px;
}
.banner-btn:hover {
   background-color: var(--accent-dark);
}


